<%# locals: (players:) %>

<table>
  <thead>
    <tr>
      <td>
        Player
      </td>
      <td>
        Points
      </td>
    </tr>
  </thead>
  <tbody>
    <% players.each do |player| %>
      <tr>
        <td><%= player.user.email %></td>
        <td><%= player.points %></td>
      </tr>
    <% end %>
  </tbody>
</table>
